/*mobile version*/
@media screen and (max-width: 480px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/background5.jpg");
  }

  .list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 350px;
    height: 500px;
    border: 1px solid black;
  }

  .todo-list {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 80px;
    background-color: #f5f5f5;
  }

  input {
    width: 150px;
    height: 30px;
    border: 1px solid black;
  }

  .button-common {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-color: #c1f8cf;
    border: 0.5px solid #90e0ef;
    border-radius: 3px;
    cursor: pointer;
  }
}
